.backgrnd{
background-image: url('${pageContext.request.contextPath}/resources/images/NYC_Bridge.jpg');
-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
background-position: top center !important;
background-repeat: no-repeat !important;
background-attachment: fixed;
}